<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, world!</title>

</head>



<body style="font-family: sans-serif; height:auto;">
    <navbar style="display:flex; align-items: center;">
        <div><img style="width:100px; margin-right:10px;" src="assets/logo.png"></div>
        <div>
            <h1>
                <%= title %>
            </h1>
        </div>
    </navbar>
    <h2>Ola !!</h2>
    <div style="width:350px; text-align: center;"><p> Vais dar uma festa e queres repartir as compras com os teus amigos !? </p><p>Pois este mini projeto vai-te ajudar a saber quem compra o que =D !</p> </div>
    <div style=" display:flex; align-items:center;">
        <form action="/" method="POST" style="margin:0px 0px 0px 20px; ">
            <input type="text" name="newItem" placeholder="Item">
            <input type="text" name="buyer" placeholder="Persons">
            <button type="submit" class="button-9">Send</button>
        </form>
    </div>
    <div>
        <table style="height:20%;">
            <% for(var i=0; i < list.length ; i++) { %>
                <tr>
                    <td>
                        <span><b> Item:</b> <%= list[i].item %> </span> -- <span> <b>Buyer:</b><%= list[i].buyer %></span>
                    </td>
                    <td>
                        <form action="/" method="POST" style="margin:10px;" id="formUpdate">
                            <button name="delete" class="button-9" type="submit" value=<%=i %>> Delete</button>
                        </form>
                    </td>
                    <td>
                        <!--Edit-->
                        <form action="/" method="POST" style="margin:10px;" id="formUpdate"> 
                        <button id="btn" type="submit" name="edit" value="<%=i%>" class="button-9">
                            Edit
                        </button>
                         </form>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>


</body>


</html>

<style>
    input[type=text],
    select {
        padding: 12px 20px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 15px;
    }

    input[type=submit] {


        color: dodgerblue;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        color: dodgerblue;
        background-color: #45a049;
    }

    .button-9 {
        backface-visibility: hidden;
        background-color: #405cf5;
        border-radius: 6px;
        border-width: 0;
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
        font-size: 100%;
        height: 30px;
        width: 100px;
        line-height: 1.15;
        outline: none;
        overflow: hidden;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-transform: none;
        transform: translateZ(0);
        transition: all .2s, box-shadow .08s ease-in;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-9:disabled {
        cursor: default;
    }

    .button-9:focus {
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
    }
</style>